variables:
  CI_DOCKERHUB_IMAGE: huncrys/pure-ftpd
  CI_GHCR_IMAGE: huncrys/pure-ftpd

include:
  - component: $CI_SERVER_FQDN/oaklab/ci-templates/oci-publish@10
    inputs:
      licenses: MIT
      platforms:
        - linux/amd64
        - linux/arm64
